rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sessions/{id} {
      allow write: if true;
      allow read: if false;
    }
  }
}
